{
  "arrowParens": "avoid",
  "bracketSpacing": true,
  "printWidth": 120,
  "semi": false,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "all",
  "overrides": [
    {
      "files": "*.sol",
      "options": {
        "explicitTypes": "preserve",
        "tabWidth": 4
      }
    }
  ]
}

