@import url('https://fonts.googleapis.com/css2?family=Akshar&display=swap');

.font {
  font-family: 'Akshar', sans-serif;
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
}

.hover-underline-animation:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 60%);
  transform-origin: bottom left;
  transition: transform 0.35s ease-in-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1.2);
}

.bg {
  background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 40%);
}

.logo {
  background-color: #84fab0;
  background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 40%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.shadow-color {
  box-shadow: 1.5px 1.5px 1.5px #43c6ac;
}

.animation:hover {
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;

  @keyframes pulse {
    0%,
    100% {
      opacity: 1;
    }
    50% {
      opacity: 0.5;
    }
  }
}
